[submodule "contracts/lib/panoptic-helper"]
	path = contracts/lib/panoptic-helper
	url = https://github.com/panoptic-labs/panoptic-helper
[submodule "contracts/lib/v4-hooks-public"]
	path = contracts/lib/v4-hooks-public
	url = https://github.com/uniswap/v4-hooks-public
[submodule "contracts/lib/panoptic-sdk"]
	path = contracts/lib/panoptic-sdk
	url = https://github.com/panoptic-labs/panoptic-sdk
[submodule "contracts/lib/v4-periphery"]
	path = contracts/lib/v4-periphery
	url = https://github.com/uniswap/v4-periphery
[submodule "contracts/lib/solady"]
	path = contracts/lib/solady
	url = https://github.com/Vectorized/solady
[submodule "contracts/lib/protocol-v3"]
	path = contracts/lib/protocol-v3
	url = https://github.com/centrifuge/protocol-v3
